@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">About me</h2>
</div>
<div>
    <p>
        1st sentence
    </p>
    <p>
        2nd sentence
    </p>
    <p>
        3rd sentence
    </p>
    <p>
        4th sentence
    </p>
</div>